<h2 class="title">{{ title }}</h2> <br>
<div id="component">
    <table class="table table-sm" *ngIf="req">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Rejection Reason</th>
                <th>Status</th>
                <th>Total</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ req.id }}</td>
                <td>{{ req.description }}</td>
                <td>{{ req.rejectionReason }}</td>
                <td>{{ req.status }}</td>
                <td>{{ req.total | currency}}</td>
                <td>{{ req.user?.username }}</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-sm table-striped" *ngIf="req">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of req.requestLines">
                    <td>{{ x.id }}</td>
                    <td>{{ x.product?.name }}</td>
                    <td>{{ x.product?.price | currency }}</td>
                    <td>{{ x.quantity }}</td>
                    <td>{{ x.quantity * x.product?.price! | currency }}</td>
                </tr>
        </tbody>
    </table>

    <button (click)="approve()">Approve</button> | 

    <!-- currently delte not reject -->
    <button (click)="clicked()">Reject</button>
    <span *ngIf="verifyDelete === true"> | </span>
    <input *ngIf="verifyDelete === true" [(ngModel)]=req.rejectionReason>
    <span *ngIf="verifyDelete === true"> | </span>
    <button *ngIf="verifyDelete === true" (click)="update()" class="btn btn-primary">Verify Reject</button>
    <p *ngIf='invalid !== "" '>{{ invalid }}</p>

</div>
