
<h2 class="title">{{ title }}</h2>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]=prod.id readonly></td>
        </tr>
        <tr>
            <td>PartNbr</td>
            <td><input [(ngModel)]="prod.partNbr" readonly></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input [(ngModel)]="prod.name" readonly></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input [(ngModel)]="prod.price" readonly></td>
        </tr>
        <tr>
            <td>Unit</td>
            <td><input [(ngModel)]="prod.unit" readonly></td>
        </tr>
        <tr>
            <td>PhotoPath</td>
            <td><input [(ngModel)]="prod.photoPath" readonly></td>
        </tr>
        <tr>
            <td>VendorId</td>
                <td *ngIf="prod.vendor"><input [(ngModel)]="prod.vendor!.name" readonly></td>
        </tr>
    </thead>
</table>

<button (click)="delete()">DELETE</button>